@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* 
// Both fonts have regular and bold typefaces
// and Roboto regular italic

font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
    --green: #7fc37e;
    --creme: #fefee2;
    --dark: #333;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: var(--creme);
}

.tp-nav {
    background-color: #7fc37e;
    width: 100%;
    height: 130px;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    justify-content: space-between;
    color: #fefee2;
}

.tp-nav ul {
    list-style: none;
    display: flex;
    margin-left: 20px;
}

.tp-nav ul li {
    margin: 0px 10px 0px 10px;
}

.tp-nav a {
    color: #fefee2;
    text-decoration: none;
}

.navpart-01 {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.navpart-02 {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.navpart-02 a {
    margin-right: 40px;
    background-color: #fefee2;
    text-decoration: none;
    color: #333;
    padding: 10px 40px 10px 40px;
    border-radius: 15px;
}

.tp-visual-banner {
    width: 100%;
    height: 550px;
    background-image: url(images/top-view-basket-full-breads-as-baguette-bagel-rye-with-sunflower-seeds-black-surface.jpg);
    background-size: cover;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    align-items: center;
}

.welcome-bit {
    margin-left: 150px;
}

.welcome-bit h1 {
    font-size: 5rem;
    color: #fefee2;
}

.welcome-bit h2 {
    font-size: 3rem;
    color: #fefee2;
}

.welcome-bit a {
    background-color: #7fc37e;
    border-radius: 15px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    color: #fefee2;
}

.tp-deals-section {
    padding-top: 75px;
    padding-bottom: 75px;
    width: 100%;
    height: 720px;
    /* background-image: url(images/last-overlay.png);
    background-size: cover; */
    font-family: 'Roboto', sans-serif;
    /* padding-top: 100px; */
    border-radius: 250px 0px 250px 0px;

}

.tp-deals-section-last {
    padding-top: 75px;
    width: 100%;
    height: 500px;
    /* background-color: lightgreen; */
    font-family: 'Roboto', sans-serif;
    /* padding-top: 100px; */
}

.tp-shopping-section {
    padding-top: 200px;
    width: 100%;
    height: 1700px;
    /* background-color: lightgreen; */
    font-family: 'Roboto', sans-serif;
    /* padding-top: 100px; */
}

.tp-product-container {
    text-align: center;
}

.tp-deals-leader {
    font-size: 24px;
}

.tp-deals-leader-white {
    font-size: 24px;
    color: #fefee2;
}

.product-display {
    display: flex;
    flex-direction: column;
}

.product-row img {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    /* filter: drop-shadow(-1px 9px 15px #7c7c7c); */
}

.product-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 500px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.product-item {
    /* display: flex;
    flex-direction: column; */
    width: 20%;
    margin-left: 40px;
    margin-right: 40px;
}

.product-item img {
    height: 80%;
    margin-bottom: 15px;
}

.product-item a {
    background-color: #7fc37e;
    text-decoration: none;
    color: #fefee2;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.deal-green {
    background-color: #7fc37e;
    width: 40%;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    color: #fefee2;
}

.deal-dark {
    background-color: #333;
    width: 40%;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    color: #fefee2;
}

.price {
    margin-bottom: 20px;
    margin-top: 10px;
}

.item-name {
    margin-top: 10px;
    font-size: 20px;
}

.tp-cta-section {
    width: 100%;
    height: 500px;
    background-image: url("images/dark-overlay.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tp-cta-section h2 {
    color: #fefee2;
    font-family: 'Fira Sans', sans-serif;
    font-size: 48px;
}

.tp-cta-section h2 span {
    color: #7fc37e;
}

.tp-cta-section a {
    background-color: #7fc37e;
    color: #fefee2;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
}

footer {
    background-color: #7fc37e;
    height: 85px;
    width: 100%;
}

.price-deal {
    text-decoration: line-through;
}

@media only screen and (max-width: 600px) {}